body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    color: #333;
}


form {
    background-color: #5c73ca;
    border: 1px solid #010004;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #962e84;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #5f0b41;
}


#resultado {
    font-weight: bold;
    margin-top: 20px;
    
}

       
        .swal2-title {
            color: #333;
            font-size: 24px;
        }

        
        .swal2-content {
            color: #555;
            font-size: 16px;
        }

        
        .swal2-confirm {
            background-color: #007BFF;
            color: #fff;
        }
    


